* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  color: black;
}

::selection {
  background-color: black;
  color: white;
}

#gallery {
  margin: 0% 8%;
  text-align: center;
  /* display: flex;
  flex-wrap: wrap; */
}

img {
  width: 400px;
  height: auto;
  padding: 10px;
}

#pano {
  width: 1209px;
  /* padding: 10px; */
}

#bottom-gallery {
  display: flex;
  align-content: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

h1 {
  font-size: 50px;
  font-family: 'Kanit', monospace;
  padding: 50px 0px;
}

h1, h6 {
  text-align: center;
}

footer {
  padding: 100px 0px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

h6 {
  font-family: 'Source Code Pro', monospace;
  color: white;
  font-size: 16px;
  text-align: center;
  background-color: black;
  width: 300px;
  letter-spacing: 3px;
  margin: 100px 0px;
  margin-left: calc(50% - 150px);
}

/* Tablet responsive */
@media (max-width: 1023px) {

  img {
    width: 70%;
  }

  #pano {
    width: 70%;
  }

  #bottom-gallery {
    display: block;
  }
}


/* Mobile responsive */
@media (max-width: 740px) {

  img {
    width: 92%;
  }

  #pano {
    width: 92%;
  }
}


body {animation: growth ease-in-out 0.5s;}

@keyframes growth {
  from {
    opacity: 0%;
    margin-top: 99px;
  }

  to {
    opacity: 100%;
    margin-top: 0px;
  }
}


#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#zoomed-image {
  width: 90%;
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  display: block;
}

#close-btn {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 40px;
    cursor: pointer;
}